/* You can add global styles to this file, and also import other style files */
.padding-2-perc
{
    padding-top: 2%;
}

h3{
    color: #404040;
}

.radio-btn-horizontal
{
    margin:0 5px 0 5px;
}
.black-bottom-gradient {
    background: -webkit-linear-gradient(#adadad, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.status-message-success{
    background-color: #4caf6f;
    color: #fff;
    padding-left: 1.3%;
    height: 2.2-em;
    vertical-align: middle;
    line-height: 2;
}
.status-message-danger{
    background-color: #f34747;
    color: #fff;
    padding-left: 1.3%;
    height: 2.2-em;
    vertical-align: middle;
    line-height: 2;
}

label{
    font-weight: 600;;
}

#page-content {
    flex: 1 0 auto;
  }
  
 .sticky-footer {
    flex-shrink: none;
    margin-top: 2% !important;
  }
  